<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据聚合</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextMenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.contextMenu.min.js') }}"></script>

</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/fofa_search">FOFA</a>
            <a class="navbar-item" href="/quake_search">Quake</a>
            <a class="navbar-item" href="/data_aggregation">数据聚合</a>
            <a class="navbar-item" href="/data_panel">精简面板</a>
            <a class="navbar-item" href="/about">关于我们</a>
        </div>
    </nav>
    <section class="section">
        <div class="container is-fluid">
            <div class="field has-text-right">
                <button id="clearDatabase" class="button is-danger">清空数据库表</button>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <select id="exportSelect" class="select" onchange="exportResults(this.value)">
                            <option value="" disabled selected>选择导出数据</option>
                            <option value="exportAggregation">导出数据聚合结果</option>
                            <option value="exportHost">导出 Host 数据</option>
                            <option value="exportIP">导出 IP 数据</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table id="resultsTable" class="table is-striped is-hoverable is-fullwidth is-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>来源</th>
                            <th>查询语句</th>
                            <th>主机名</th>
                            <th>路径</th>
                            <th>页面标题</th>
                            <th>IP</th>
                            <th>端口</th>
                            <th>协议</th>
                            <th>域名</th>
                            <th>页面类型</th>
                            <th>操作系统</th>
                            <th>产品信息</th>
                            <th>组织名称</th>
                            <th>归属单位</th>
                            <th>ICP 备案信息</th>
                            <th>国家</th>
                            <th>省份</th>
                            <th>城市</th>
                            <th>企业性质</th>
                            <th>互联网服务提供商</th>
                            <th>JARM 指纹</th>
                            <th>查询时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.source if result.source else "" }}</td>
                            <td>{{ result.query if result.query else "" }}</td>
                            <td>{{ result.host if result.host else "" }}</td>
                            <td>{{ result.path if result.path else "" }}</td>
                            <td>{{ result.title if result.title else "" }}</td>
                            <td>{{ result.ip if result.ip else "" }}</td>
                            <td>{{ result.port if result.port else "" }}</td>
                            <td>{{ result.protocol if result.protocol else "" }}</td>
                            <td>{{ result.domain if result.domain else "" }}</td>
                            <td>{{ result.page_type if result.page_type else "" }}</td>
                            <td>{{ result.os if result.os else "" }}</td>
                            <td>{{ result.components if result.components else "" }}</td>
                            <td>{{ result.org if result.org else "" }}</td>
                            <td>{{ result.unit if result.unit else "" }}</td>
                            <td>{{ result.icp if result.icp else "" }}</td>
                            <td>{{ result.country_name if result.country_name else "" }}</td>
                            <td>{{ result.region if result.region else "" }}</td>
                            <td>{{ result.city if result.city else "" }}</td>
                            <td>{{ result.nature if result.nature else "" }}</td>
                            <td>{{ result.isp if result.isp else "" }}</td>
                            <td>{{ result.jarm if result.jarm else "" }}</td>
                            <td>{{ result.created_at if result.created_at else "" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            // 初始化 DataTable
            $('#resultsTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                "pageLength": 50,
                "lengthMenu": [[50, 100, 200, 500, 1000], [50, 100, 200, 500, 1000]]
            });

            // 导出数据的处理
            $('#exportSelect').on('change', function() {
                const selectedValue = $(this).val();
                let url = '';

                switch (selectedValue) {
                    case 'exportAll':
                        url = '/export_all';
                        break;
                    case 'exportAggregation':
                        url = '/export_aggregation';
                        break;
                    case 'exportHost':
                        url = '/export_hosts';
                        break;
                    case 'exportIP':
                        url = '/export_ips';
                        break;
                    default:
                        return; // 如果没有选择，则不执行
                }

                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(data) {
                        const blob = new Blob([data], { type: 'text/csv' });
                        const downloadUrl = URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.href = downloadUrl;
                        a.download = selectedValue + '.csv';
                        document.body.appendChild(a);
                        a.click();
                        a.remove();
                        URL.revokeObjectURL(downloadUrl);
                    },
                    error: function(err) {
                        showTemporaryAlert("导出失败: " + (err.responseJSON ? err.responseJSON.error : "未知错误"), 2000);
                    }
                });
            });

            // 清空数据库的处理
            $('#clearDatabase').on('click', function() {
                if (confirm("您确定要清空数据库表吗？")) {
                    $.ajax({
                        url: '/clear_database',
                        method: 'POST',
                        success: function(response) {
                            showTemporaryAlert(response.message, 2000);
                        },
                        error: function(err) {
                            showTemporaryAlert("清空数据库失败: " + (err.responseJSON ? err.responseJSON.error : "未知错误"), 2000);
                        }
                    });
                }
            });

            // 自定义右键菜单
            $.contextMenu({
                selector: '#resultsTable tbody td',
                items: {
                    "copy": {
                        name: "复制整列数据",
                        callback: function(key, options) {
                            const columnData = [];
                            const rows = document.querySelectorAll('#resultsTable tbody tr');
                            rows.forEach(row => {
                                columnData.push(row.cells[options.$trigger[0].cellIndex].innerText);
                            });
                            const textToCopy = columnData.join('\n');
                            navigator.clipboard.writeText(textToCopy).then(() => {
                                showTemporaryAlert('整列数据已复制到剪切板', 1000);
                            });
                        }
                    },
                    "copy_unique": {
                        name: "复制整列并去重",
                        callback: function(key, options) {
                            const uniqueData = new Set();
                            const rows = document.querySelectorAll('#resultsTable tbody tr');
                            rows.forEach(row => {
                                uniqueData.add(row.cells[options.$trigger[0].cellIndex].innerText);
                            });
                            const textToCopy = Array.from(uniqueData).join('\n');
                            navigator.clipboard.writeText(textToCopy).then(() => {
                                showTemporaryAlert('整列数据已去重并复制到剪切板', 1000);
                            });
                        }
                    },
                    "export": {
                        name: "导出整列数据",
                        callback: function(key, options) {
                            const columnData = [];
                            const rows = document.querySelectorAll('#resultsTable tbody tr');
                            rows.forEach(row => {
                                columnData.push(row.cells[options.$trigger[0].cellIndex].innerText);
                            });
                            const textToExport = columnData.join('\n');
                            const blob = new Blob([textToExport], { type: 'text/plain' });
                            const url = URL.createObjectURL(blob);
                            const a = document.createElement('a');
                            a.href = url;
                            a.download = 'exported_data.txt';
                            document.body.appendChild(a);
                            a.click();
                            a.remove();
                            URL.revokeObjectURL(url);
                        }
                    },
                    "sep1": "---------",
                    "quit": {
                        name: "关闭菜单",
                        callback: function() {
                            $.contextMenu("hide");
                        }
                    }
                }
            });
        });

        // 显示临时提示信息的函数
        function showTemporaryAlert(message, duration) {
            const alert = document.createElement('div');
            alert.innerText = message;
            alert.style.position = 'fixed';
            alert.style.bottom = '10px';
            alert.style.right = '10px';
            alert.style.backgroundColor = '#000';
            alert.style.color = '#fff';
            alert.style.padding = '10px';
            alert.style.borderRadius = '5px';
            alert.style.zIndex = '1000';
            document.body.appendChild(alert);
            setTimeout(() => {
                document.body.removeChild(alert);
            }, duration);
        }

    </script>
</body>

</html>
